<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds">

    <property name="LOG_PATH" value="/data/logs"/>
    <property name="APP_NAME" value="mall-user"/>

    <contextName>${APP_NAME}</contextName>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}/${APP_NAME}.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <maxFileSize>500MB</maxFileSize>
        </rollingPolicy>
        <encoder>
	     <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} ${APP_NAME} [%X{X-B3-TraceId:-},%X{X-B3-SpanId:-},%X{X-B3-ParentSpanId:-},%X{X-Span-Export:-}] [%thread] %-5level %logger{36} -%msg%n</pattern>
        </encoder>
    </appender>

      <appender name="VISIT_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
          <FileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}/${APP_NAME}.%d{yyyy-MM-dd}.visit.log</FileNamePattern>
        </rollingPolicy>
        <encoder>
	    <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} ${APP_NAME} [%X{X-B3-TraceId:-},%X{X-B3-SpanId:-},%X{X-B3-ParentSpanId:-},%X{X-Span-Export:-}] [%thread] %-5level %logger{36} -%msg%n</pattern>
        </encoder>
      </appender>

      <appender name="TASK_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
          <FileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}/${APP_NAME}.%d{yyyy-MM-dd}.task.log</FileNamePattern>
        </rollingPolicy>
        <encoder>
	    <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} ${APP_NAME} [%X{X-B3-TraceId:-},%X{X-B3-SpanId:-},%X{X-B3-ParentSpanId:-},%X{X-Span-Export:-}] [%thread] %-5level %logger{36} -%msg%n</pattern>
        </encoder>
      </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE"/>
        <queueSize>512</queueSize>
        <discardingThreshold>0</discardingThreshold>
    </appender>

    <appender name="VISIT_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="VISIT_LOG"/>
        <queueSize>512</queueSize>
        <discardingThreshold>0</discardingThreshold>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
	    <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} ${APP_NAME} [%X{X-B3-TraceId:-},%X{X-B3-SpanId:-},%X{X-B3-ParentSpanId:-},%X{X-Span-Export:-}] [%thread] %-5level %logger{36} -%msg%n</pattern>
        </encoder>
    </appender>
    <root level="error">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
